header,footer{
    background-color: #161616;
    
}
footer{
    height: 10%;
}
html,body{
    background-image: url('img/background.png');
    height: 60%;
}
.no_results{
    margin-top:50%;
    margin-bottom: 50%;
    color:green;
    font-style: italic;
}
.contenidoPrincipal{
    background-color: #131313;
    text-align: center;
    padding-bottom: 15px;
}
.hidden{
    display: none;
}
.navbar{
    border-bottom: black 30px thick;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    margin-left: 120px;
    font-weight: 900;
    font-size: 20px;
    font-family: arial;
    color: white;
}

.nav-item>a:hover {
    color: #1b8e62;
}
.card{
    border: none;
}
.col-juegos{
    width: fit-content;
}
.container-form{
    padding-left: 160px;
}
.form-control{
    padding-right: 190px;
}
.col-top-spacing{
    padding-top: 10px;
}
.container-subtitulos, .container-juegos{
    padding-top: 20px;
}
.subtitulos{
    color:white;
    background-color: green;
    padding-top: 5px;
    padding-bottom: 7px;
}
.text{
    color: white;
    text-align: center;
}
.container-underline{
    border-top: #131313;
    border-left: #131313;
    border-right: #131313;
    border-bottom: green;
    border-style: solid;
    
}
.searchBarGroup{
    padding-top: 40px;
    padding-bottom: 30px;
    
    
}
.searchBar__input{
    border-color: rgb(0, 196, 0);
    border-radius: 20px;
    height: 50px;
    width: 60%;
    border-style: groove;
    border-style: solid;
    padding-left: 20px;
}
.searchBar__input:focus{
    outline: none;
}
.searchBar__submit{
    border-radius: 50%;
    margin-left: 20px;
    background-color: rgb(0, 196, 0);
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    text-align: center;
}
.searchBar__submit:active{
    border-color: rgb(0, 61, 0);
}
.searchBar__submit:hover{
    background-color: rgb(0, 117, 0);
}
.search_icon{
    height: 20px;
}
.container_search_word{
    padding-top: 30px;
    text-align: left;
    color: rgb(0, 196, 0);;
    font-style: italic;
    

}

.welcome-text{
    color: white;
    text-align:center;
}
.error-text{
    color: red;
    text-align: start;
    margin-right: -30px;
    padding-right: 50px;
}
.welcome{
    padding-right: 100px;
}
.firma{
    color: white;
    font-style: italic;
    text-align: end;
    padding-bottom: 10px;
    padding-right: 20%;
}

.card-img-top {
    width: 400px;
    height: 400px;
   
}
.card-body{
    background-color: #131313;
    color: white;

}
.card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btn-games{
    background-color: rgb(0, 185, 0);
    width: 100%
}
.btn-games:hover{
    background-color: rgb(0, 117, 0);
}


